<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='./stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='./stylesheets/template.css'>
    <link rel='stylesheet' href='./stylesheets/display.css'>
    <title>Data Display</title>
</head>
<body>
    <header class="text-center">
        <h1 id="title" data-id="<%=sensor.sensorID%>"><%=sensor.sensorNick%></h1>
    </header>
    <main id="main">
        <div class="row" >
            <section class="col-12" id="display">
                <h1 id="current">Current Value: LOADING...</h1>
            </section>
        </div>
        <div class="row">
            <section class="col-12" id="chart">
                <canvas id="myChart"></canvas>
            </section>
        </div>
        <div class="row">
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(60);">1 hour</button>
            </section>
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(360);">6 hour</button>
            </section>
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(720);">12 hour</button>
            </section>
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(1440);">1 day</button>
            </section>
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(10080);">7 days</button>
            </section>
            <section class="col-2" >
                <button class="button" onclick="getDataGraph(20160);">14 days</button>
            </section>
        </div>
    </main>

    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="./javascript/display.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>