<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../public/stylesheets/bootstrap.css'>
        <link rel='stylesheet' href='../public/stylesheets/index.css'>
        <title>Data Display</title>
    </head>
    <body>
        <header class="text-center">
                <h1 id="title" class="">Data Display</h1>
        </header>

        <main>
            <div class="row" >
                <button class="col-md-3 text-center">
                    <div class="ib">
                        <p id="sensor">Tank_Up</p>
                        <p id="value">TemP:10 C</p>
                    </div>
                </button>

            </div>
        </main>

        <footer>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="./javascript/index.js"></script>

    </body>
</html>