<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../public/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='../public/stylesheets/index.css'>
    <title>Data Display</title>
</head>
<body>
<header class="text-center">
    <h1 id="title" class="">Data Display</h1>
</header>

<main id="main" data-length="<%=len %>">


    <div class="row" >
        <button class="col-md-3 text-center" id="section_1>" >
            <div class="ib">
                <p data-id="<%=sensors[count].sensorID%>" id="sensor_1>">SENSOR_NAME</p>
                <p id="value_1>">SENSOR_VALUE</p>
            </div>
        </button>
        <button class="col-md-3 text-center" id="section_2" >
            <div class="ib">
                <p data-id="<%=sensors[count].sensorID%>" id="sensor_2">SENSOR_NAME</p>
                <p id="value_2">SENSOR_VALUE</p>
            </div>
        </button>
        <button class="col-md-3 text-center" id="section_3" >
            <div class="ib">
                <p data-id="<%=sensors[count].sensorID%>" id="sensor_3">SENSOR_NAME</p>
                <p id="value_3">SENSOR_VALUE</p>
            </div>
        </button>
        <button class="col-md-3 text-center" id="section_4" >
            <div class="ib">
                <p data-id="<%=sensors[count].sensorID%>" id="sensor_4">SENSOR_NAME</p>
                <p id="value_4">SENSOR_VALUE</p>
            </div>
        </button>
    </div>
</main>

<footer>

</footer>
<script src="./javascript/jquery-3.6.0.js"></script>
<script src="./javascript/index.js"></script>

</body>
</html>