

html,body {
    width: 100%;
    min-height: 100%;
    background-image: url("../pictures/sonne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #5FADDF;
    background-attachment: fixed;
    overflow-x: hidden;
}

.dropdown-menu {
    width: 25%;
}

#divNewT{
    padding-left: 10px;
}

.bt{
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    transition-duration: 0.8s;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.r2:hover, .r3:hover, #addTable:hover{
    background-color: rgba(83,51,237, 0.8);
}


.r1:hover{
    background-color: rgba(238, 34, 34, 0.8);
}

table {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    text-align: center;
    border: 1px solid white;
    color: white;
    font-size: 15px;
}

td, tr, th {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid white;
    color: white;
}

#addTable {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    font-size: 20px;
    border: 1px solid white;
    border-top: 0;
    color: white;
}


.con {
    width: 75%;
    margin: 20px auto auto;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
}



.container {
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 3pc;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
}
