#menu {
    position:absolute;
    top:20px;
    left:20px;
}

.wrapper{
    position:relative;
}

.config {
    padding: 10px;
    min-height: 400px;
    color: rgba(108, 122, 137, 1);
    text-align: center;

    display: flex;
}

.content {
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}

#form {
    padding: 20px;
    text-align: left;
}

.button {
    width: auto;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

input {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.wrapper {
    margin-right: 20px;
}

