.config {
    padding:  0 10px;
    min-height: 400px;
    color: rgba(108, 122, 137, 1);
    text-align: center;
    display: flex;
}

#form {
    padding: 20px;
    text-align: left;
}

input {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#config_name {
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.active {
    background-color:  rgba(223,26,56,1) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

#sensor_config {
    margin-bottom: 0;
}




