<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./stylesheets/display.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./stylesheets/bootstrap.css">
        <title>AktTemperatur</title>
    </head>
    <body>
        <header class="title">
            <h1 id="title">Aktuelle Temperatur in <%=ort%></h1>
        </header>
        <main class="container">
            <div class="temp">
                <p id="tempDisplay" data-table="<%=t%>">Temperatur - LOADING...</p>
            </div>
        </main>

        <footer id="footer">
            <p id="ft">Temperatur gemmessen um: --:--:-- Uhr</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="./javascript/display.js"></script>

    </body>
</html>